 <!-- <h3>Select Training</h3>

<br/>
<div class="textdec">
  <div class="row">
    <div class="col-sm-2 " style="background-color:#80df20;text-align: center;">Program Name:</div>
    <div class="col-sm-2" style="background-color:#ecec13;text-align: center;"> Trainer Name :</div>
    <div class="col-sm-2" style="background-color:#80df20;text-align: center;">Date: </div>
    <div class="col-sm-2" style="background-color:#ecec13;text-align: center;">Venue:</div>
    <div class="col-sm-4" style="background-color:#80df20;text-align: center;">Options </div>
  </div>
</div>
<br/>
<br/>
<div class="editingmode" [hidden]="!editing">
  <div class="row">
    <div class="col-sm-2">
      <div class="cols-sm-10">
        <p class="text-info1"></p>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="cols-sm-10">
        <div class="input-group">
          <select class="form-control" id="Id2">
            <option *ngFor="let user of users" [ngValue]="user.UserName">
              {{user.UserName}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="cols-sm-10">
        <p class="text-info3"></p>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="cols-sm-10">
        <p class="text-info4"></p>
      </div>
    </div>
 
  <div class="col-sm-4" style="text-align: center;">
    <button type="submit" (click)="update()">Update</button>
  </div>
</div>
</div>


<div *ngFor="let training of train">

  <div class="control-label" [hidden]="editing">
    <input type="hidden" name="training">
    <div class="row">
      <div class="col-sm-2" style="background-color:#ccf2a6;text-align: center;">{{training.TrainingName}}</div>
      <div class="col-sm-2" style="background-color:#f7f7a1;text-align: center;"> {{training.Trainer}}</div>
      <div class="col-sm-2" style="background-color:#ccf2a6;text-align: center;">{{training.Date | date:'medium'}}</div>
      <div class="col-sm-2" style="background-color:#f7f7a1;text-align: center;">{{training.Venue}}</div>

      <div class="col-sm-4" style="background-color:#ccf2a6;text-align: center;">
        <button id="edit" class="btn" (click)="EditFunction(training.TrainingID, training.TrainingName,training.Trainer,training.Date,training.Venue )">Edit</button>
        <button class="btn" (click)="onSelectionDelete(training.TrainingID)">Delete</button>
      </div>
    </div>
  </div>
</div>
  -->
  <table class="table table-striped table-bordered" >
    <thead>
      <tr>
        <th (click)="setSort('firstName')">TrainingName<span class="pull-right arrow-up" ng-show="sort==='firstName' && reverse"></span>
          <span class="pull-right arrow-down" ng-show="sort==='firstName' && !reverse"></span>
        </th>
        <th (click)="setSort('lastName')">Trainer<span class="pull-right arrow-up" ng-show="sort === 'lastName' && reverse"></span>
          <span class="pull-right arrow-down" ng-show="sort === 'lastName' && !reverse"></span>
        </th>
        <th (click)="setSort('email')">Date<span class="pull-right arrow-up" ng-show="sort==='email' && reverse"></span>
          <span class="pull-right arrow-down" ng-show="sort==='email' && !reverse"></span>
        </th>
        <th (click)="setSort('email')">Venue<span class="pull-right arrow-up" ng-show="sort==='email' && reverse"></span>
          <span class="pull-right arrow-down" ng-show="sort==='email' && !reverse"></span>
        </th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let training of train" >
        <th>training</th>
        <th>training</th>
        <th>training</th>
        <th>training</th>
        <th>training</th>
      </tr>
  </tbody>
  </table>

<!-- <table>
  <thead>
    <tr>
      <th>user</th>
    <th>details</th>
  </tr>
  </thead>
  <tfoot>
      <tr>
          <th>total</th>
        <th>sum</th>
      </tr>
</tfoot>
  <tbody>
      <tr>
          <th>abc</th>
        <th>def</th>
      </tr>
  </tbody>
</table> -->